
.gridsection {
    background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px), 
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
    position: relative;
    overflow: hidden;
}
.gridsection .layerSideBtnGroup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    top: 1rem;
}
.gridsection .layerTypeBtnGroup {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 99;
    bottom: 1rem; 
}


.gridsection .layerSideBtnGroup .button-side {
    margin-inline: 0.2rem;
}
.gridsection .layerSideBtnGroup .button-side.active,
.gridsection .layerTypeBtnGroup .button-side.active {
    color: green;
}

.gridsection .layerTypeBtnGroup .button-side,
.gridsection .layerSideBtnGroup .button-side {
    background-color: #FFFFFF;
    cursor: pointer;
    font-family: Clarkson,Helvetica,sans-serif;
    font-size: 14px;
    letter-spacing: 0.15rem;
    line-height: 1em;
    opacity: 1;
    padding: 0.5em 1.2em;
    position: relative;
    text-transform: uppercase;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
    -moz-user-select: none;
    user-select: none;
    -webkit-user-select: none;
}

.gridsection .layerTypeBtnGroup .button-side::before ,
.gridsection .layerSideBtnGroup .button-side::before{
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #EBEBEB;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 100%;
}  

.gridsection .layerTypeBtnGroup .button-side:hover::before,
.gridsection .layerSideBtnGroup .button-side:hover::before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}  

.gridsection .layerTypeBtnGroup .button-side::after,
.gridsection .layerSideBtnGroup .button-side::after {
    background-color: #FFFFFF;
} 

.gridsection .layerTypeBtnGroup .button-side span,
.gridsection .layerSideBtnGroup .button-side span {
    z-index: 1;
    position: relative;
}


/* Gerber Drop Area */
.dropArea {
    height:100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
}
.dropArea.active {
    box-shadow: inset -1px 2px 10px 4px rgb(202 223 229), inset 2px 0em 10px 0px rgba(0, 0, 0, 0.4);
}
.dropArea .dropbox div{
    border: 1px dotted #cccccc;
    padding: 20px;
    text-align: center;
    background-color: white;
}

/* PNG IMAGE Section */
.pngDiv {
    max-width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    padding: 1rem;
    height: 100%;
    overflow: scroll;
}
.pngDiv::-webkit-scrollbar {
    display: none;
}

.pngDiv .png {
    width: 100%;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}
.pngDiv .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
}